*{
  margin: 0;
  padding: 0;
}
/* TIPOGRAFIAS */
.titles{
  font-family: 'Montserrat';
  font-style: normal;
  text-align: center;
  color: rgb(0,0,0,1);
}

/* BACK DE PANTALLAS */
.back-white{
  background-color: #ffff;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.cont{
  background-color: #FAF6EB;
  width: 1307px;
  height: 680px;
  border-radius: 4rem;
  border: #000 solid 6px;
  box-shadow: 8px 8px 0px #000000;
  margin-top: 1vh;
}

/* BOTONES */
.cont-button-home{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.button-comenzar{
  color: #A61A32;
  padding: 1.3rem ;
  background: #F9F9F9;
  border: 2.58582px solid #000000;
  border-radius: 12.0672px;

}
.button-comenzar:hover{
  color: #401D8A !important;
  border: 2.58582px solid #000000 !important;
  box-shadow: 3.44776px 3.44776px 0px #000000 !important;
}

/* HOME */
.cont-home{
  display: flex;
  justify-content: space-between;
}
.space{
  width: 20%;
}
.info-home{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 670px;
}
.logo-horizontal{
  width: 25vw;
  align-items: center;
}
.ilustracion-intro{
  height: 55vh;
}
