*{
  margin: 0;
  padding: 0;
  
}
:root{
  --white:#eeee;
  --beige:#F9F9F9;
  --yellow:#F3A140;
  --red:#A61A32;
  --green:#51A090;
  --blue:#401D8A;
  --darckBlue:#001B32;
  --gray:#292929;
  --black:#000000;
}


/* ---------- TEXTOS ---------- */
.titles{
  font-family: 'Montserrat';
  font-style: normal;
  text-align: center;
  color: var(--black);
}
.title-home{
  font-size: 44px;
}
.title-participar, .title-organigrama{
  font-size: 34px;
  align-self: flex-start;
}
.title-organigrama{
  padding-bottom: 77px;
  margin-left: 64px;
}
.texto-btn{
  color: var(--red);
  align-self: center;
  transition: .4s;
  text-align: center;
}
.text{
  font-family: 'Montserrat';
  font-style: normal;
  text-align:start;
  color: var(--black);
}
.text-body{
  color: var(--gray);
  font-family: 'Sitara', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.paragraph{
  margin-top: 1rem;
}
/* .back-title-partners{
  background: var(--green);
  border-radius: 12px;
  padding: 10px 22px;
} */
.title-partners{
  font-weight: 700;
  font-size: 26px;
  color: #FFFFFF;
  background: var(--green);
  border-radius: 12px;
  padding: 10px 22px;
}

/* ---------- BACK DE PANTALLAS ---------- */
.back-white{
  background-color: #ffff;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.back-white-organigrama{
  background-color: #ffff;
  width: 98.9vw;
  height: 950px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.back-white-partners{
  background-color: #ffff;
  width: 98.9vw;
  height: 1600px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.cont{
  background-color: #eeee;
  width: 1307px;
  height: 611px;
  border-radius: 4rem;
  border: #000 solid 6px;
  box-shadow: 8px 8px 0px #000000;
  margin-top: 1vh;
}
.cont-largo{  
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  width: 1307px;
  height: auto;
  border-radius: 4rem;
  border: var(--black) solid 6px;
  box-shadow: 8px 8px 0px var(--black);
  margin-top: 1vh;
}

/* ---------- BOTONES ---------- */
.cont-button-home{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.button-comenzar{
  padding: 1.3rem ;
  background: var(--beige);
  border: 2.58582px solid #000000;
  border-radius: 12.0672px;
  transition: .4s;
}
.button-participar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13.791px 8.6194px;
  gap: 8.62px;
  isolation: isolate;

  background: var(--beige);
  border: 2.58582px solid #000000;
  border-radius: 12.0672px;
  transition: .4s;
}
.button-comenzar:hover, .button-participar:hover{
  color: var(--blue) !important;
  box-shadow: 3.44776px 3.44776px 0px var(--black) !important;
  transition: .4s;
}
.btn-volver{
  color: var(--red);
  display: flex ;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}
.volver{
  color: var(--red);
  padding-left: 1vw;
  padding-right: 1vw;
  transition: .4s;
}
.btn-volver:hover, .volver:hover{
  color: var(--blue);
  transition: .4s;
}
.volver:hover{
  padding-left: 1.5vw;
  padding-right: .5vw;
  transition: .4s;
}
.btn-participamos{
  display: flex;
  justify-content: flex-start;
  padding-left: 64px !important;
}
.btn-ver-mas{
  color: var(--darckBlue);
  transition: .3s;
}
.btn-ver-mas:hover{
  color: var(--red);
  transition: .3s;
}
.cont-btn-generals{
  display: flex;
  align-content: center;
  width: 960px;
  justify-content: space-between;
}
.btn-generals{
  align-items: center;
  background-color: var(--beige);
  border: #000 solid 3px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  transition: .4s;
}
.btn-generals:hover{
  filter: drop-shadow(6px 6px 0px #000000);
  transition: .4s;
}
.btn-generals:hover .texto-btn{
  color: var(--blue);
  transition: .4s;
}
.cont-button-nuestroAdn{
  display: flex;
  justify-content: flex-end;
}
.button-adn{
  padding-bottom: 38px;
}
.btn-nuestro-adn{
  padding-right: 71px;
  padding-bottom: 38px;
}

/* ---------- HOME ---------- */
.cont-home{
  display: flex;
  justify-content: space-between;
}
.space{
  width: 20%;
}
.info-home{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}
.logo-horizontal{
  width: 25vw;
  align-items: center;
}
.ilustracion-intro{
  height: 55vh;
}

/* ---------- CONOCIENDO LA FUNDACION ---------- */
.text-conociendo{
  width: 620px;
  font-size: 22px;
  margin-left: 2vw;
  margin-bottom: 5vh;
}
.info-conociendo{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

/* ---------- PARTICIPAMOS ---------- */
.cont-flex{
  display: flex;
}
.pre-btn{
  align-self: center;
  margin-right: 22px;
}
.cont-participar{
  display: flex;
}
.cont-right-participar{
  display: flex;
  flex-direction: column;
  padding-right: 72px;
}
.cont-left-participar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 64px;
  padding-top: 36px;
}

.text-body-participar{
  display: flex;
  flex-direction: column;
}
.arrow{
  align-self: flex-end;
}
.arrow svg{
  transition: .4s;
  margin-top: 32px;
}
.arrow:hover svg{
  transform: rotate(15deg);
  transition: .4s;
}
.arrow:hover svg>path{
  fill: var(--blue) ;
  transition: .4s;
}

/* ---------- QUIENES PARTICIPAMOS ---------- */
.title-quienes{
  margin-left: 64px;
  position: absolute;
  width: 392px;
  height: 41px;
  top: 100px
}
.container-quienes{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 1300px;
  height: 180px;

  top: 200px;
}
.cont-quienes-participamos{  
  display: flex;
  flex-direction: column;
}
.cont-btn-quienes{
  align-self: center;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.ilustracion-quienes{
  width: 310px;
}

/* ---------- ORGANIGRAMA ---------- */

.cont-title-organigrama{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.organigrama{
  height: 645px;
}

/* ---------- NUESTRO ADN ---------- */
.cont-nuestro-adn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title-adn{
  align-self: flex-start;
  margin-left: 64px;
  margin-bottom: 32px;
}
.cont-adn{
  align-self: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(153px, auto);
}
.back-adn{
  background-color: #FFFF;
  border: var(--blue) solid 2px;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img-adn{
  align-self: center;
}
.text-adn{
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  color: var(--darckBlue);
  text-align: center;
}

/* ---------- PARTNERS ---------- */
.cont-benefactores{
  display: flex;
}
.cont-camaras{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(153px, auto);
}
.cont-academias{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.logo-partners{
  height: 145px;
}
#construya{
  width: 257px;
}
#puntoApunto{
  width: 300px;
}
/* ---------- QUE HACEMOS ---------- */
.cont-btn{
  display: flex;
}
.cuatroPilares{
  display: flex;
  justify-content: center;
}
.cuatro{
  color: var(--yellow);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 250px;
  line-height: 305px;
  -webkit-text-stroke: 1px var(--darckBlue);
  text-shadow: 4px 4px 0px #000000;
}
.text-hacemos{
  color: var(--darckBlue);
}
