*{
  margin: 0;
  padding: 0;
}
/* TEXTOS */
.titles{
  font-family: 'Montserrat';
  font-style: normal;
  text-align: center;
  color: rgb(0,0,0,1);
}
.texto-btn{
  color: #A61A32;
  align-self: center;
  transition: .4s;
}

/* BACK DE PANTALLAS */
.back-white{
  background-color: #ffff;
  width: 98.9vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.cont{
  background-color: #FAF6EB;
  width: 1307px;
  height: 680px;
  border-radius: 4rem;
  border: #000 solid 6px;
  box-shadow: 8px 8px 0px #000000;
  margin-top: 1vh;
}

/* BOTONES */
.cont-button-home{
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.button-comenzar{
  padding: 1.3rem ;
  background: #F9F9F9;
  border: 2.58582px solid #000000;
  border-radius: 12.0672px;
  transition: .4s;
}
.button-comenzar:hover{
  color: #401D8A !important;
  border: 2.58582px solid #000000 !important;
  box-shadow: 3.44776px 3.44776px 0px #000000 !important;
  transition: .4s;
}
.btn-volver{
  color: #A61A32;
  display: flex ;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}
.volver{
  color: #A61A32;
  padding-left: 1vw;
  padding-right: 1vw;
  transition: .4s;
}
.btn-volver:hover, .volver:hover{
  color: #401D8A;
  transition: .4s;
}
.volver:hover{
  padding-left: 1.5vw;
  padding-right: .5vw;
  transition: .4s;
}
.btn-ver-mas{
  color: #070707;
  transition: .3s;
}
.btn-ver-mas:hover{
  color: #A61A32;
  transition: .3s;
}
.cont-btn-generals{
  display: flex;
  align-content: center;
}
.btn-generals{
  align-items: center;
  background-color: #F9F9F9;
  border: #000 solid 3px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  transition: .4s;
}
.btn-generals:hover{
  filter: drop-shadow(6px 6px 0px #000000);
  transition: .4s;
}
.btn-generals:hover .texto-btn{
  color: #401D8A;
  transition: .4s;
}

/* HOME */
.cont-home{
  display: flex;
  justify-content: space-between;
}
.space{
  width: 20%;
}
.info-home{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 670px;
}
.logo-horizontal{
  width: 25vw;
  align-items: center;
}
.ilustracion-intro{
  height: 55vh;
}
